.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-text-field {
  width: 100%; /* Ustaw szerokość pól tekstowych na 100% wewnątrz kontenera */
}

.custom-text-field .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: black;
}

.custom-text-field .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: black;
}

.custom-text-field .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: black;
}

.custom-text-field .MuiInputLabel-root {
  color: black;
  display: flex;
}

.custom-text-field .MuiInputLabel-root.Mui-focused {
  color: black;
}

.custom-button {
  background-color: black !important;
  color: white !important;
}

.custom-button:hover {
  background-color: #333 !important; /* Ciemniejszy odcień czerni przy najechaniu */
  color: white !important;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Wyśrodkuj poziomo */
  justify-content: flex-start; /* Ustaw na górze pionowo */
  min-height: 50vh; /* Ustaw wysokość na 100% widocznego obszaru */
  text-align: center;
  overflow: hidden; 
}

.form-container {
  width: 50%; /* Ustaw szerokość kontenera na 50% */
  max-width: 600px; /* Ustaw maksymalną szerokość kontenera */
  margin: 0 auto; /* Wyśrodkuj kontener */
  box-sizing: border-box; /* Upewnij się, że padding jest wliczany do szerokości kontenera */
}

@media (max-width: 768px) {
  .form-container {
    width: 75%; /* Zmniejsz szerokość kontenera na mniejszych ekranach */
  }
}

@media (max-width: 480px) {
  .form-container {
    width: 90%; /* Zmniejsz szerokość kontenera na bardzo małych ekranach */
  }
}

.padding-top {
  padding-top: 20px;
}

.custom-link {
  color: black; /* Dziedziczy kolor tekstu */
  text-decoration: underline; /* Usuwa podkreślenie */
}

.custom-link:hover {
  color: #333; /* Ustawia kolor na czarny podczas najechania */
  text-decoration: underline; /* Opcjonalnie dodaje podkreślenie podczas najechania */
}