.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.custom-text-field .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: black;
}

.custom-text-field .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: black;
}

.custom-text-field .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: black;
}

.custom-text-field .MuiInputLabel-root {
  color: black;
  display: flex;
}

.custom-text-field .MuiInputLabel-root.Mui-focused {
  color: black;
}

.custom-button {
  background-color: black !important;
  color: white !important;
}

.custom-button:hover {
  background-color: #333 !important; /* Ciemniejszy odcień czerni przy najechaniu */
  color: white !important;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Wyśrodkuj poziomo */
  justify-content: flex-start; /* Ustaw na górze pionowo */
  min-height: 50vh; /* Ustaw wysokość na 100% widocznego obszaru */
   /* Opcjonalnie dodaj padding od góry */
  text-align: center;
  overflow: hidden; 
}

.padding-top {
  padding-top: 20px;
}